*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Universal Condensed", sans-serif;
  color: white;
  background-color: black;
}

body {
  margin: 0 auto;
  padding: 0;
  max-width: 85%;
  background-color: black
}

/* Home Page */
/* Search Bar */
.search-bar{
  width: 80%;
  /* height: 40px; */
  margin: 0 auto;
  margin-top: 50px;
  /* padding: 5px; */
  display: flex;
  justify-content: center;
  /* border: 3px solid white; */
}

input {
  width: 70%;
  height: 70px;
}

button{
  width: 70px;
  height: 70px;
}

/* Search Results Section */

#search-profile{
  width: 70px;
  border-radius: 50%;
}

.hidden{
  display: none;
}

/* Results */

.results-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 40%;
  /* width: 60%; */
  margin: 0 auto;
  margin-top: 50px;
  border: 1px solid white;
}

.results-container > *{
  padding-left: 20px;
}

.albums{
  overflow: scroll;
  /* display: flex; */
  /* justify-content: space-around; */
}

.album{
  display: flex;
  gap: 1%;
  /* flex-direction: row; */
  /* align-self:  */
}

.album img{
  width: 80px;
}

/* Highlights Album */

h2, h3{
  padding: 2em 0 1em 0;
  text-decoration: underline dotted;
}

.highlight-albums-container{
  width: 60%vmin;
  margin: 0 auto;
  overflow: hidden;
  padding:  20px;
  margin-top: 60px;
  /* border: 1px solid white; */
}

.slider{
  width: 100%;
  display: flex;
  padding: 10px;
  animation: slide 16s infinite;
}

@keyframes slide {
  0%{
    transform: translateX(0);
  }
  25%{
    transform: translateX(0);
  }
  30%{
    transform: translateX(-100%);
  }
  50%{
    transform: translateX(-100%);
  }
  55%{
    transform: translateX(-200%);
  }
  75%{
    transform: translateX(-200%);
  }
  80%{
    transform: translateX(-300%);
  }
  100%{
    transform: translateX(-300%);
  }
}


/* Media query */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /* max-width: 500px; */
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
